<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @photo.product_id %>
</p>

<p>
  <strong>Avatar data:</strong>
  <%= @photo.avatar_data %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
